<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input</title>
</head>
<body bgcolor=Cyan>
<form action="http://127.0.0.1:5000/info", method="post">
<label>Input 1</label>
<input type="text" name="input1">
<br>
<label>Input 2</label>
<input type="text" name="input2">
<br>
<label>Input 3</label>
<input type="text" name="input3">
<br>
<label>Input 4</label>
<input type="text" name="input4">
<br>
<label>Input 5</label>
<input type="text" name="input5">
<br>
<label>Input 6</label>
<input type="text" name="input6">
<br>
<label>Input 7</label>
<input type="text" name="input7">
<br>
<label>Input 8</label>
<input type="text" name="input8">
<br>
<label>Input 9</label>
<input type="text" name="input9">
<br>
<label>Input 10</label>
<input type="text" name="input10">
<br>
<label>Input 11</label>
<input type="text" name="input11">
<br>
<label>Input 12</label>
<input type="text" name="input12">
<br>
<label>Input 13</label>
<input type="text" name="input13">
<br>
<label>Input 14</label>
<input type="text" name="input14">
<br>
<label>Input 15</label>
<input type="text" name="input15">
<br>
<label>Input 16</label>
<input type="text" name="input16">
<br>
<label>Input 17</label>
<input type="text" name="input17">
<br>
<label>Input 18</label>
<input type="text" name="input18">
<br>
<label>Input 19</label>
<input type="text" name="input19">
<br>
<label>Input 20</label>
<input type="text" name="input20">
<br>
<label>Input 21</label>
<input type="text" name="input21">
<br>

<label>Input 22</label>
<input type="text" name="input22">
<br>

<label>Input 23</label>
<input type="text" name="input23">
<br>

<label>Input 24</label>
<input type="text" name="input24">
<br>

<label>Input 25</label>
<input type="text" name="input25">
<br>


<input type="submit" name="btn"value="Submit">
</form>
</body>
</html>